html,body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

slide-page{
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 100vh;
    background: #73b9ea;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all  0.5s ease;
}

slide-page h2{
    color: #fff;
    display: inline-block;
    width: 80%;
    margin: 5vw 0 0 5vw;
    font-size: 6vw;
}

slide-page p{
    color: #fff;
    display: inline-block;
    width: 90%;
    margin: 2vw 0 0 5vw;
    font-size: 3vw;
    line-height: 6vw;
}